<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'news/img/favicon.png' %}"/>
    <!--<meta name="viewport" content="width=980"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% block style %}
    {% endblock %}
    {% block js %}
        <script type="text/javascript" src="{% static 'news/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'news/js/main.js' %}"></script>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'news/css/style.css' %}"/>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>