{% extends "news/news_base.html" %}
{% load staticfiles %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/pagination.css' %}"/>
{% endblock %}
{% block title %}Блог{% endblock %}
{% block news_content %}
    <div class="c-articles-list">
        <div class="l-articles-list">
            <ul class="articles-list">

                {% for news in news_list %}
                    <li class="l-article--preview">
                        <div class="l-article--preview__img-block">
                            <a class="article--preview__img-link" href="{% url 'news_detail' news.id %}">
                                <img class="article--preview__img" src="{% firstof news.icon.image.url 'http://placehold.it/250x250&text=[img]'%}" alt=""/>
                            </a>
                        </div>

                        <div class="l-article-desc--preview">
                            <div class="article__date">
                                {{ news.created_at | date:"j F" }}
                            </div>
                            <div class="article__title">
                                <a class="article__title-link" href="{% url 'news_detail' news.id %}">
                                    {{ news.title }}
                                </a>
                            </div>
                            <div class="article__text">
                                {{ news.preview }}
                            </div>
                        </div>
                    </li>
                {% endfor %}

                <li class="l-article--preview">
                    {% if is_paginated %}
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page=1"><<</a></li>
                                <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
                            {% endif %}

                            {% for i in paginator.page_range %}
                                <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
                                <li><a href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </li>
            </ul>
        </div>

    </div>
{% endblock %}