{% extends "news/base.html" %}
{% load staticfiles %}
{% block title %}Зоосад{% endblock %}

{% block body %}
    <div class="p-blog">
        <div class="header">

            <div class="c-brand--blog">
            <div class="l-brand--blog">
                <a class="logo--blog" href="{% url 'news_list' %}">
                    <img class="logo--blog__img" src="{% static 'news/img/logo.png' %}" alt=""/>
                </a>
            </div>
            </div>

        </div>
        <div class="main">
            {% block news_content %}{% endblock %}
        </div>
    </div>
{% endblock %}