{% extends "news/news_base.html" %}
{% load staticfiles %}
{% block title %} {{ object.title }} {% endblock %}
{% block news_content %}
<div class="c-article">
    <div class="l-article">

        <div class="article__date">
            {{ object.created_at | date:"j F" }}
        </div>

        <div class="article__title--big">
            {{ object.title }}
        </div>

        <div class="article__text">
            <p>{{ object.preview }}</p>
            <div class="slider">
                <ul class="bx-slider">
                    {% for img in object.images.all  %}
                        <li><img src="{{ img.image.url }}" data-title="{{ img.title }}"/></li>
                    {% endfor %}
                </ul>
                <div class="slider-info">
                    <div class="bx-pager-block"></div>
                    <div class="slider__title"></div>
                </div>
            </div>
            {{ object.text|safe }}
        </div>

    </div>
</div>
{% endblock %}
{% block js %}
{{ block.super }}
    <script type="text/javascript" src="{% static 'news/js/jquery.bxslider.min.js' %}"></script>
    <script type="text/javascript" >
        $(document).ready(function() {
            $('.bx-slider').bxSlider({
                pagerSelector: '.bx-pager-block',
                pagerType: 'short',
                pagerShortSeparator: '/',
                nextText: '',
                prevText: '',
                onSlideAfter: function ($slideElement, oldIndex, newIndex) {
                    $('.slider__title').html(($($slideElement).find('img').attr('data-title')));
                }
            });
        });
    </script>
{% endblock %}