{% extends 'news/base.html' %}
{% load staticfiles %}
{% block title %}Главная{% endblock %}
{% block body %}

<div class="p-home">
    <div class="header">
        <div class="c-nav-bar">
            <div class="l-nav-bar">
                <a class="nav-bar__link" href="{% url 'news_list' %}">Наш блог</a>
            </div>
        </div>
    </div>

    <div class="main">

        <div class="c-brand">
            <div class="l-brand">
                <a class="logo" href="{% url 'index' %}">
                    <img class="logo__img" src="{% static 'news/img/logo.png' %}" alt=""/>
                </a>
            </div>
        </div>

        <div class="c-main-msg">
            <div class="l-main-msg">
                <div class="main-msg">
                    Богатство мировой литературы Платона свидетельствует о том, что диахронический подход готично
                    представляет собой резкий общекультурный цикл.
                </div>
                <div class="main-msg">
                    {% for message in messages %}

                        {% if message.message == 'form_saved' %}
                            <script type="text/javascript">
                                $(document).ready(function(){
                                    var modal = $('.modal-shadow').show();
                                    modal.find('.modal__close').on('click', function() {
                                       modal.hide();
                                    });
                                })
                            </script>
                        {% endif %}

                        {% if message.message == 'form_invalid' %}
                            <script type="text/javascript">
                                $(document).ready(function(){
                                    $('.js-form').slideDown('slow');
                                    $('.js-show-form').hide();
                                });
                            </script>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="c-main-form">
            <div class="l-main-form">
                <button class="main-form__btn main-form__btn-show-form js-show-form">Хочу заполнить форму</button>
                <form class="main-form js-form" action="" method="POST">
                    {% csrf_token %}
                    {% if form.preferences.field.widget.choices|length > 0 %}
                        <div class="main-form__title">
                            Я хочу
                        </div>
                    {% endif %}
                    {% for pk, choice in form.preferences.field.widget.choices %}
                    <div class="main-form-group-checkbox">
                        <div class="main-form-group-checkbox__block">
                            <label class="main-form-group-checkbox__label">
                                <input  type="checkbox"
                                        value="{{ pk }}"
                                        name="preferences"
                                        {# не работает #}
                                        {% for p in form.data.preferences %}
                                            {% if pk == p %}checked="checked"{% endif %}
                                        {% endfor %}
                                        id="id_options_{{ forloop.counter0 }}"
                                        class="main-form__checkbox js-checkbox" />

                                <span class="main-form-group-checkbox__desc">
                                    {{ choice }}
                                </span>
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="main-form__title">
                        Как с вами связаться?
                    </div>
                    <div class="main-form-group-input">
                        {{ form.name }}
                        {{ form.phone }}
                        {{ form.email }}
                    </div>
                    <div>
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            {% if field.errors %}
                                <div>
                                    {{ field.label }}
                                    {{ field.errors.as_text }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="main-form__btn">Отправить</button>
                </form>
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="c-animation">
            <div class="l-animation">
                <div class="animation">
                    <div class="animation__img js-animation" data-angle="0"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal-shadow">
    <div class="modal">
        <a class="modal__close">&#215;</a>
        <div class="modal__msg">
            <div class="modal__msg-text">
                Спасибо, Ваша заявка принята!
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function(){
    $('.js-show-form').on('click', function(){
        $('.js-form').slideDown('slow');
        $(this).slideUp();
        $('html, body').animate({scrollTop:$(document).height()}, 'slow');
    });
    $('.js-input').focus(animation);
    $('.js-checkbox').change(animation);
});

    function animation(){
        var newAngle = +$('.js-animation').attr('data-angle') + 90;
        $('.js-animation').attr('data-angle', newAngle);
        $('.js-animation').css({
            '-webkit-transform': 'translate(-50%, 0) rotate(' + newAngle + 'deg)',
            '-ms-transform': 'translate(-50%, 0) rotate(' + newAngle + 'deg)',
            'transform': 'translate(-50%, 0) rotate(' + newAngle + 'deg)'
        });
    }

</script>
{% endblock %}